.custom-select-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    position: relative;
}

.custom-select-wrapper>.custom-select::placeholder {
    color: rgb(190, 190, 190);
}

.custom-select-wrapper>.custom-select {
    width: 100%;
    padding: 0px 1.63rem 0px 0.63rem;
    font-size: 0.88rem;
    line-height: 1rem;
    font-weight: 400;
    border: 1px solid rgb(223, 231, 240);
    border-radius: 0.25rem;
    background-color: rgb(250, 251, 252);
    outline: none;
    appearance: none;
    z-index: 1;
    height: 1.5rem;
    color: rgb(51, 51, 51);
}

.custom-select-wrapper>.custom-select.init-option {
    color: rgb(149, 144, 144);
}

.custom-select-wrapper>.arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 1;
    right: 0.60rem;

    /* height: 1.5rem; */

    pointer-events: none
}