section {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background: rgb(248, 248, 250);
    font-weight: 300;
    font-style: normal;

    border: 1px solid rgb(223, 231, 240);
    border-radius: 0.81rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;

    width: 500px;
}

section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0.94rem 1.56rem;
}

/* section.small {
    height: 30%;
    background-color: aqua;
}

section.large {
    padding: 30px;
    justify-content: flex-start;
    min-height: 70%;
    background-color: antiquewhite;
    background-color:bisque;
}

section.large h1 {
    color: #800000;
} */