.additional-services {
    width: 100%;
    padding: 0.94rem 1.25rem;
    margin-bottom: 0.53rem;
}

.additional-services>.container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.53rem 0px;
}

.additional-services>.container>header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;

    transition: all 0.4s;
}

.additional-services>.container>header.underline {
    padding-bottom: 1.06rem;
    border-bottom: 1px solid rgb(217, 217, 217);
    margin-bottom: 0.53rem;
}

.additional-services>.container>header>h3 {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 150%;
    color: rgb(0, 0, 0);
}

.additional-services>.container>header>.arrow {
    transition: 0.4s;
    cursor: pointer;
    transform: rotate(0deg);
}

.additional-services>.container>header>.arrow:hover {
    opacity: 0.5;
}

.additional-services>.container>header>.arrow.rotate {
    transform: rotate(180deg);
}

.additional-services>.container>.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
}

.additional-services>.container>.services.showen {
    opacity: 1;
    height: auto;
    visibility: visible;
}