.manual-calculation {
    margin-bottom: 10px;
}

.manual-calculation header {
    width: 100%;
    display: flex;
    height: 3.75rem;
    align-items: center;
}


.manual-calculation header h5 {
    font-weight: 500;
    font-size: 0.88rem;
    line-height: 150%;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

.manual-calculation form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.manual-calculation form .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.manual-calculation form .row label {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 150%;
    color: rgb(124, 141, 181);
}

.manual-calculation form .row .input-wrapper {
    width: 50%;
    position: relative;
}

.manual-calculation form .row .input-wrapper input {
    width: 100%;
    border: 1px solid rgb(223, 231, 240);
    border-radius: 0.31rem;
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1rem;
    font-family: inherit;
    height: 2rem;
    padding: 0px 3.38rem 0px 0.63rem;
    background: rgb(255, 255, 255);

}

.manual-calculation form .row .input-wrapper select {
    width: 100%;
    height: 2rem;
    padding: 0px 1.63rem 0px 0.63rem;
    font-size: 0.88rem;
    line-height: 1rem;
    font-weight: 300;
    border: 1px solid rgb(223, 231, 240);
    border-radius: 0.25rem;
    background-color: transparent;
    outline: none;
    appearance: none;
    overflow: hidden;
    z-index: 1;
    color: rgb(190, 190, 190);
}

.manual-calculation form .row .input-wrapper select:valid {
    color: black;
}

/* .manual-calculation form .row .input-wrapper select:disabled {
    color: rgb(190, 190, 190);
} */

.manual-calculation form .row .input-wrapper .currency {
    position: absolute;
    right: 0px;
    top: 0px;
    min-width: 2.5rem;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
}

.manual-calculation form .row .arrow {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    right: 0.63rem;
    top: 6px;
}

.manual-calculation form .btn-wrapper {
    display: flex;
    width: 100%;
    gap: 0.38rem;
    margin-top: 1.25rem;
}

.manual-calculation form .additional {
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
}

.manual-calculation form .additional p {
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 150%;
    color: rgb(0, 0, 0);
}

.manual-calculation form .additional .selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.73rem;
}

.manual-calculation form .additional .select-wrap {
    display: flex;
    align-items: center;
}

.manual-calculation form .additional .select-wrap .select {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1 0%;
}

.manual-calculation form .additional .select-wrap .select select {
    width: 100%;
    height: 2rem;
    font-size: 0.88rem;
    line-height: 1rem;
    font-weight: 300;
    border: none;
    color: black;
    border-radius: 0.25rem;
    background-color: transparent;
    outline: none;
    appearance: none;
    overflow: hidden;
    z-index: 1;
    padding: 0px 2rem 0px 0.73rem
}

.manual-calculation form .additional .select-wrap .select span.arrow {
    width: 10px;
}

.manual-calculation form .btn-wrapper button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    transition: transform 0.4s;
    box-sizing: border-box;
    user-select: none;
    padding: 0px 1.5rem;
    height: 2.75rem;
    border: 1px solid rgb(33, 109, 209);
    cursor: pointer;
    text-decoration: none !important;
    background: transparent;

    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1rem;
    letter-spacing: 0.02em;
    white-space: nowrap;
}

.manual-calculation form .btn-wrapper button:hover {
    transform: scale(0.97);
}

.manual-calculation form .btn-wrapper button.save-jpg {
    color: rgb(33, 109, 209);
}

.manual-calculation form .btn-wrapper button.calculate {
    background: rgb(33, 109, 209);
    color: rgb(255, 255, 255);
}