@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  font-size: 0.88rem;
  line-height: 1.06rem;

  color: rgb(124, 141, 181);
  background: rgb(248, 248, 250);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  font-size: 1.171vw;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 150%;
  color: rgb(124, 141, 181);
}

section {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  background: rgb(248, 248, 250);
  font-weight: 300;
  font-style: normal;

  border: 1px solid rgb(223, 231, 240);
  border-radius: 0.81rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden;

  width: 500px;
}

section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0.94rem 1.56rem;
}

/* section.small {
  height: 30%;
  background-color: aqua;
}

section.large {
  padding: 30px;
  justify-content: flex-start;
  min-height: 70%;
  background-color: antiquewhite;
  background-color:bisque;
}

section.large h1 {
  color: #800000;
} */