@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.88rem;
  line-height: 1.06rem;

  color: rgb(124, 141, 181);
  background: rgb(248, 248, 250);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  font-size: 1.171vw;
}

body {
  font-size: 1.171vw;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 150%;
  color: rgb(124, 141, 181);
}

section {
  background: rgb(248, 248, 250);
  font-weight: 300;
  font-style: normal;

  border: 1px solid rgb(223, 231, 240);
  border-radius: 0.81rem;
  background-color: rgb(255, 255, 255);
  overflow: hidden;

  min-width: 500px;
}

section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0.94rem 1.56rem;
}