.additional-services>.container>.services>.service {
    display: flex;
    align-items: center;
    gap: 0.44rem;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.4s;
    cursor: pointer;
    padding: 0.53rem 0.94rem;

    width: 100%;
}

.additional-services>.container>.services>.service:hover {
    background-color: rgb(241, 246, 252);
}

.additional-services>.container>.services>.service>p {
    font-weight: 300;
    font-size: 0.81rem;
    line-height: 0.94rem;
    color: #000;
}

.additional-services>.container>.services>.service.selected {
    background-color: rgb(241, 246, 252);
}