.table-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid rgb(223, 231, 240);
    border-radius: 0.81rem;
    background-color: rgb(255, 255, 255);
}

.table-section>header {
    display: flex;
    align-items: center;
    height: 4.25rem;
    padding: 0px 1.25rem;
}

.table-section>header>.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.table-section>header>h2 {
    margin-right: 15px;
    font-weight: 500;
    font-size: 1.13rem;
    color: rgb(51, 51, 51);
    vertical-align: bottom;
    flex-shrink: 0;
}

.table-section>header>input {
    margin-left: auto;
    background: rgb(250, 251, 252);
    border: 1px solid rgb(223, 231, 240);
    border-radius: 0.31rem;
    font-weight: 300;
    font-size: 0.88rem;
    line-height: 1rem;
    font-family: inherit;
    height: 2rem;
    padding: 0px 0.63rem;
}

.table-section>header>button {
    display: flex;
    justify-content: center;
    margin-left: 15px;
    align-items: center;
    border-radius: 0.25rem;
    border: none;
    transition: transform 0.4s;
    user-select: none;
    padding: 0px 0.63rem;
    height: 1.88rem;
    background: rgb(33, 109, 209);
    cursor: pointer;

    font-weight: 500;
    font-size: 0.88rem;
    line-height: 1rem;
    align-items: center;
    letter-spacing: 0.02em;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

.table-section>.custom-table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    overflow: hidden;

    border-radius: 0.81rem;
}

.table-section>.custom-table>thead {
    background-color: rgb(241, 246, 252);
}

.table-section>.custom-table>thead>tr>th {
    padding: 0.94rem 0.5rem 0.94rem 0px;

    font-size: 0.88rem;
    font-weight: 300;
    line-height: 150%;
    color: rgb(124, 141, 181);
    min-width: 100px;

    text-align: left;
}

.table-section>.custom-table>thead>tr>th:first-child {
    padding-left: 1.25rem;
}

.table-section .custom-table>tbody>tr:not(:last-child) {
    border-bottom: 1px solid rgb(231, 234, 240);
}

.table-section .custom-table>tbody>tr>td:last-child {
    margin-bottom: 1px;
}

.table-section .custom-table>tbody>tr>td {
    padding: 0.5rem 1.25rem 0.5rem 0px;
    min-width: 100px;
}

.table-section .custom-table>tbody>tr>td>p {
    font-weight: 300;
    font-size: 0.81rem;
    line-height: 150%;
    color: rgb(0, 0, 0);
    text-align: left;
}

.table-section .custom-table>tbody>tr>td:first-child {
    padding-left: 1.25rem;
}

.table-section .custom-table>tbody>tr>td:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-section .custom-table>tbody>tr>td:last-child>.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;

    margin-left: 10px;
}

.table-section .custom-table>tbody>tr>td:last-child>.buttons>.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    transition: all 0.4s;

    padding: 0px;
    border: none;
    background-color: transparent;
}

.table-section>.custom-table>tbody>tr>td:last-child>.buttons>.btn:hover {
    transform: scale(0.9);
}

.table-section .custom-table>tbody td {
    line-height: 0px;
}

.table-section .custom-table>tbody td.copart>p {
    color: rgb(33, 109, 209);
}

.table-section .custom-table>tbody td.iaai>p {
    color: rgb(228, 76, 76);
}

.table-section .custom-table>tbody td.error>input,
.table-section .custom-table>tbody td.error>select {
    border: 1px solid rgb(224, 59, 75);
    color: rgb(224, 59, 75);
}