.additional-services-settings {
    /* width: 800px; */
    /* line-height: 0.2; */
}

.additional-services-settings header {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.additional-services-settings header>h5 {
    flex: 1 1 0%;
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 150%;
    color: rgb(0, 0, 0);
}


.additional-services-settings footer {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

