.calculator-settings table>tbody>tr>td {
    line-height: 0px;
}

.calculator-settings table>tbody>tr>td:not(:first-child):not(:last-child) {
    padding-right: 5px;
}

.calculator-settings table>tbody>tr>td:not(:last-child) {
    margin-right: 0.5rem;
}

.calculator-settings table>tbody>tr>td:first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
    position: relative;
    padding-left: 0px;
    /* margin-right: 0.63rem; */
}

.calculator-settings table>tbody>tr>td:first-child .btn {
    position: absolute;
    right: 0px;

    transition: 0.4s opacity;
    opacity: 0;
}

.calculator-settings table>tbody>tr>td.show-edt-btn .btn {
    opacity: 1;
}

.calculator-settings table>tbody>tr>td.show-text>.custom-input {
    padding-left: 0px;
    font-weight: 400;
    line-height: 150%;
    font-size: 0.91rem;
    opacity: 1;
    color: gray;
    background: none;
    border: none;
    cursor: pointer;
}

.calculator-settings table>tbody>tr.error input[name='price'] {
    border: 1px solid rgb(224, 59, 75);
    color: rgb(224, 59, 75);
}

.calculator-settings table>tbody>tr.hide {
    opacity: 0.5;
}

.calculator-settings table>tbody>tr>td>.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.calculator-settings table>tbody>tr>td .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    fill: none;
    transition: all 0.4s;
    cursor: pointer;

    padding: 0px;
    border: none;
    background-color: transparent;
}